<div class="game--container">
  <div class="game--header">
    <div class="title">
      <span class="game--title">Adedonha Game </span>
      <span class="game--author"> by <a href="https://www.linkedin.com/in/hendriklelis/">Hendrik Lelis</a></span>
    </div>
   <div class="game-character--container">
    <div  class="game-character-character--container">
      <span (click)="deleteCharacter()" *ngIf="character" class="game--character">{{character}}</span>
    </div>
    <button class="character" (click)="generateRandomCharacter()" [disabled]="loadingCharacter">
      <span *ngIf="loadingCharacter"><i class="fa-solid fa-rotate loading"></i> Character</span>
      <span *ngIf="!loadingCharacter"><i class="fa-solid fa-arrow-down-a-z"></i> Character</span>
    </button>
   </div>
  </div>
  <div class="game-zone">
    <div class="total">TOTAL: {{total}}</div>
    <app-round [columnNamesOnly]="true" [columns]="columns"> </app-round>
    <app-round
      *ngFor="let round of rounds"
      [total]="0"
      [round]="round"
      [index]="roundIndex"
      [roundsNo]="roundsNo"
      (totalUpdated)="updateTotal($event)"
      (canAddNewRound)="canAddNewRound($event)"
      [character]="character"
    >
    </app-round>
  </div>
  <button class="new-round--btn" (click)="addRound()" [disabled]="!newRoundBtnEnabled">
    <i class="fas fa fa-plus"></i> New Round
  </button>
</div>
